<%- include('partials/head') %>

<%- include('partials/header') %>

  <main class="container">
    <article id="article" class="section scrollspy">
      <%- data.post.content %>
    </article>
  </main>

<%- include('partials/footer') %>