<footer class="main-footer">
  <div class="pull-right hidden-xs"> <b>Version</b> 0.0.1 </div>
  <strong>Copyright &copy; 2018 <a href="http://yusufsezer.com" target="_blank">Yusuf SEZER</a>.</strong> All rights reserved.
</footer>