<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= data.page.title %></title>
  <!-- material icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- materialize -->
  <link rel="stylesheet" href="/stylesheets/materialize.min.css" />
  <script src="/javascripts/materialize.min.js"></script>
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" />
  <!-- style -->
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- script -->
  <script src="/javascripts/scripts.js"></script>
</head>

<body>